*{
  margin: 0px;
  padding: 0px;
}

.App{
  width: 100%;
  height: calc(100vh - 57px);
}

.mainCont{
  height: 100%;
  position: relative;
}

.cont{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 500px;
  height: 700px;
  border: 1px solid black;
}